<ion-header-bar align-title="left" class="bar-light row">
    <h1 class="title">
        <a href="#" class="logo">A-z</a>
    </h1>
    <div class="bar bar-header item-input-inset col col-80 col-offset-10 padding-horizontal">
        <label class="item-input-wrapper">
            <i class="icon ion-android-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
        </label>
    </div>
    <h4 class="icon ion-ios-cart col col-10"></h4>
</ion-header-bar>
<!--副标题-->
<div class="tabs-striped tabs-top tabs-color-assertive">
    <ion-header-bar class="tabs bar-subheader has-subheader">
        <a class="tab-item active" href="#">
            首页
        </a>
        <a class="tab-item" href="#">
            女士
        </a>
        <a class="tab-item" href="#">
            男士
        </a>
        <a class="tab-item" href="#">
            美妆
        </a>
        <a class="tab-item" href="#">
            DESIGH
        </a>
    </ion-header-bar>
</div>
